<button *ngIf="!guardado" type="button" class="btn btn-success dropdown-toggle btn-sm" data-bs-toggle="dropdown"
    aria-expanded="false" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
    Guardar
</button>
<ul class="dropdown-menu">
    <li><a class="dropdown-item" (click)="guardarEstadoLibro('Pendiente')" style="cursor: pointer;">Para leer</a></li>
    <li><a class="dropdown-item" (click)="guardarEstadoLibro('Leído')" style="cursor: pointer;">Leído</a></li>
</ul>
<p class="text-btn-guardado" *ngIf="guardado" style="font-size: small;color: lightseagreen;font-weight: 600;">Guardado
</p>