#buscadorMisLibros {
    display: flex; 
    flex-wrap: wrap;
}


#buscadorMisLibros input {
    width: max-content;
}


#agregadorMisColecciones {
    display: flex;
    flex-wrap: wrap;
}


#agregadorMisColecciones input {
    width: max-content;
}


#librosYcolecciones {
    display: flex;
    flex-wrap: wrap;
    width:100%; 
}


.titulo:hover {
    font-weight: 500;
}

.badge-todas {
    background-color: grey !important;
}

