<section class="animate__animated animate__fadeIn">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Mis libros guardados</h2>

        <div class="mb-4">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar libros..." #termino (keyup)="buscarLibrosGuardados(termino.value)">
        </div>

        <div class="mb-4" style="width: 100%;">
            <h4>Colecciones</h4>
            <div style="width: 25%;display:inline-block;">
                 <input type="text" id="coleccionInput" class="form-control" placeholder="Añadir colección..." #coleccion>
            </div>
            <div class="col-md-6" style="width: 50%;display:inline-block;">
                <button id="btnAgregarColeccion" 
                        class="btn btn-secondary btn-sm" 
                        data-toggle="modal"
                        data-target="#modalAgregarColeccion" 
                        style="margin-left: 5px;padding: 7px;" 
                        (click)="crearColeccion(coleccion)">Añadir colección</button>
            </div>
            <br>
            <br>
            <span class="badge text-bg-primary" style="margin-left: 3px;cursor: pointer;" *ngFor="let coleccion of colecciones;let i=index" (click)="filtrarPorColeccion(coleccion)">{{ coleccion.nombre }} 
                <i class="fa-solid fa-xmark"  style="cursor: pointer;" (click)="eliminarColeccion(i)"></i>
            </span>
            <span class="badge text-bg-secondary" style="margin-left: 3px;cursor: pointer; padding:5px;" *ngIf="colecciones.length > 1" (click)="mostrarTodasColecciones()"> Mostrar todas
            </span>
        </div>

        <div id="misLibros">
            <!-- Tabla para los libros guardados -->
            <p class="error" *ngIf="!librosAMostrar">No hay libros guardados</p>
            <table class="table table-striped" *ngIf="librosAMostrar">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Portada</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Editorial</th>
                        <th>Fecha de Publicación</th>
                        <th>Estado</th> 
                        <th>Colección</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <div class="d-flex justify-content-center align-items-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div> -->
                    <tr *ngFor="let libro of librosAMostrar; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td><img src="{{libro.imagen}}" style="width: 50px;height: 70px;"></td>
                        <td  [routerLink]="['/info', libro._id]" style="text-decoration: underline;cursor: pointer;">{{ libro.titulo }}</td>
                        <td>{{ libro.autores }}</td>
                        <td>{{ libro.editor }}</td>
                        <td>{{ libro.fechaPublicacion | date:'d/MM/YY' }}</td>
                        <td>{{ libro.estado }}</td> 
                        <td>{{ libro.coleccion }}</td>
                        <td></td>
                        <td>
                            <i class="fa-regular fa-pen-to-square"  
                               style="cursor: pointer;"
                               (click)="mostrarFormulario(libro._id,libro.titulo,libro.estado, libro.coleccion)"></i> 
                        </td>
                        <td>
                            <i class="fa-solid fa-trash"
                               style="cursor: pointer;" (click)="eliminarLibro(libro._id)"></i>
                        </td>
                        <!-- <i class="fa-solid fa-plus"></i> -->
                    </tr>
                </tbody>
            </table>
            <div *ngIf="mostrarForm"
                style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.7); z-index: 10; display: flex; justify-content: center; align-items: center;">
                <app-editar-libro *ngIf="mostrarForm==true" (cerrarFormulario)="cerrarFormulario()" (libroEditado)="recibirConfEditado($event)"></app-editar-libro>
            </div>
        </div>
    </div>
    <br>
</section>