#buscadorMisLibros {
    display: flex; 
    flex-wrap: wrap;
}


#buscadorMisLibros input {
    width: max-content;
}


#agregadorMisColecciones {
    display: flex;
    flex-wrap: wrap;
}


#agregadorMisColecciones input {
    width: max-content;
}


#librosYcolecciones {
    display: flex;
    flex-wrap: wrap;
    width:100%; 
}


.titulo:hover {
    font-weight: 500;
}

.badge-todas {
    background-color: grey !important;
}

.table {
    border-radius: 5px !important;
}



@media (max-width: 768px) {
 
    .table {
        width: 100%;
        table-layout: auto;
        overflow-x: auto;
        display: block;
        white-space: nowrap;
    }

    .table th,
    .table td {
        padding: 10px;
        word-wrap: break-word;
    }
}

