<section class="animate__animated animate__fadeIn">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Mis Libros Guardados</h2>

        <div class="mb-4">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar libros...">
        </div>

        <div class="mb-4">
            <button id="btnAgregarLibro" class="btn btn-success btn-sm" data-toggle="modal"
                data-target="#modalAgregarLibro">Añadir Libro</button>
            <button id="btnAgregarColeccion" class="btn btn-secondary btn-sm" data-toggle="modal"
                data-target="#modalAgregarColeccion" style="margin-left: 5px;">Añadir Colección</button>
        </div>

        <div class="mb-4">
            <h2>Colecciones</h2>
            <div id="colecciones" class="mb-3">
                <!-- Aquí se agregarán las colecciones -->
            </div>
        </div>

        <div id="misLibros">
            <!-- Tabla para los libros guardados -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Editorial</th>
                        <th>Fecha de Publicación</th>
                        <th>Estado</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let libro of librosGuardados[0]; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.autores }}</td>
                        <td>{{ libro.editor }}</td>
                        <td>{{ libro.fechaPublicacion }}</td>
                        <td>{{ libro.estado }}</td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>