<button class="btn btn-outline-secondary mt-3" (click)="regresar()">Volver</button>
<p>info works!</p>
<div class="container">
    <img src=""
        alt="Portada del libro" class="image">

    <div class="title">The Google Story (2018 Updated Edition)</div>
    <div class="subtitle">Inside the Hottest Business, Media, and Technology Success of Our Time</div>

    <div class="authors"><strong>Autores:</strong> David A. Vise, Mark Malseed</div>
    <div class="publisher"><strong>Editorial:</strong> Random House Publishing Group</div>
    <div class="date"><strong>Fecha de publicación:</strong> 2005-11-15</div>
    <div class="categories"><strong>Categorías:</strong> Business & Economics / Entrepreneurship, Computers /
        Information Technology, History / Modern / 20th Century / General</div>

    <div class="description">
        <strong>Descripción:</strong>
        <span>
            <b>The definitive, bestselling account of the company that changed the way we work and live...</b>
        </span>
    </div>

    <div class="rating">
        <strong>Calificación:</strong> ⭐ 4 (4 ratings)
    </div>

    <div class="price">
        <strong>Precio:</strong> €12.51
    </div>

    <a href="https://play.google.com/store/libros/details?id=zyTCAlFPjgYC&rdid=zyTCAlFPjgYC&rdot=1&source=gbs_api"
        class="buy-button">Comprar Libro</a>
</div>