<div class="container">
    <button class="btn btn-outline-secondary mt-3" (click)="regresar()">Volver</button>
    <br>
    <br>
    <div>
    <div class="title"><h5>{{ titulo }}</h5>
    <small> {{ autores }}</small>
    </div>
    <br>
    <img src="{{portada}}" alt="Portada del libro" class="image">
    <br>
    <br>
    <div class="publisher"><strong>Editorial:</strong> {{ editor }}</div>
    <div class="date"><strong>Fecha de publicación:</strong> 2005-11-15</div>
    <div class="categories"><strong>Categorías:</strong> {{ categorias }}</div>

    <div class="description">
        <strong>Descripción:</strong>
            {{ descripcion }}
    </div>
    <div class="pages">
        <strong>Número de páginas:</strong>
        {{ paginas }}
    </div>

    <div class="rating">
        <strong>Calificación:</strong> ⭐ 4 (4 ratings)
    </div>

    <div class="price">
        <strong>Precio:</strong> €12.51
    </div>

    <br>
    <button class="btn btn-success btn-sm" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Guadar libro</button>
    </div>

</div>
