<div class="container"  class="home py-5 animate__animated animate__fadeIn">
    <button class="btn btn-outline-secondary mt-3" (click)="regresar()">Volver</button>
    <p *ngIf="disponibles1==false && disponibles2 == false" class="error">No hay información disponible</p>
    <div class="mt-4" *ngIf="cargando==true" style="text-align: center;">
        <div class="spinner-border m-5" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
    <br>
    <br>
    <div>
    <div class="tis.libro.titulo"><h2>{{ this.libro.titulo }}</h2>
    <h4 style="font-weight:350;">{{ this.libro.autores }}</h4> 
    </div>
    <br>
    <img src="{{this.libro.imagen}}" alt="Portada del libro" class="image">
    <br>
    <br>
    <div class="publisher"><strong>Editorial:</strong> {{ this.libro.editor }}</div>
    <div class="date"><strong>Fecha de publicación:</strong> {{ this.libro.fechaPublicacion }}</div>
    <div class="categories"><strong>Categorías:</strong> {{ this.libro.categorias }}</div>

    <div class="description">
        <strong>Descripción:</strong>
            {{ this.libro.descripcion }}
    </div>
    <div class="pages">
        <strong>Número de páginas:</strong>
        {{ this.libro.pageCount }}
    </div>
    <br>


    <p>Prueba</p>
    <app-estado-libro [libro]="this.libro"></app-estado-libro>

</div>
