

.formularios-perfil .container .tarjeta {
    border-radius: 10px;
}

.formularios-perfil .cuerpo {
    background-color: white;
}

.formularios-perfil .cuerpo h4 {
    background-color: white;
}


.fa-regular.fa-pen-to-square {
    cursor: pointer;
}

.cuerpo {
    padding: 1.5rem;
}

.tarjeta {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}

.modal-form {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    width: 30%;
    background: white;
    border-radius: 8px;
}


.cajaPass{
    display: flex;
    flex-wrap: nowrap;
}


.cabecera {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

.cabecera h4 {
    margin: 0;
    font-size: 1.25rem;
    color: white;
}






/*Toggle btn*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: aquamarine;
}

input:focus+.slider {
    box-shadow: 0 0 1px aquamarine;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}