.seccion-social {
    margin-top: 20px;
}

.nombre:hover {
    text-decoration: underline;
}

.titulo:hover {
    text-decoration: underline;
}

.seccion-seguidores {
    margin-top: 40px;
}

.infoSeguidores {
    background-color: rgb(242, 234, 230);
    border-radius: 5px;
    border: 1px solid rebeccapurple;
    text-align: center;
    font-weight: 600;
}

.caja-spinner-muro {
    text-align: center;
}

.lineas-titulo {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lineas-texto {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lineas-autor {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.img-post-libro {
    width: 50% !important;
    height: 152px !important;
}

.post-descripcion {
    font-size: small;
}


/* Móviles */
@media only screen and (max-width: 991px) {

    .img-post-libro {
        width: 50% !important;
        height: 133px !important;
    }

    .seccion-actividad {
        margin-top: 8%;
    }

    .lineas-titulo {
        -webkit-line-clamp: 1;
    }

    .lineas-texto {
        -webkit-line-clamp: 2;
    }

    .post-descripcion {
        font-size: small;
    }

}

/* Desktop */
@media only screen and (min-width: 992px) {

    .seccion-actividad {
        margin-top: 0;
    }

    .col-md-3,
    .seccion-actividad {
        padding-top: 24px;
    }

}