<div class="container mt-4 animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-md-3" style="margin-top: 7.5%; margin-bottom: 0%;">
                <div class="card-body" style="overflow-y: auto; flex-grow: 1; background-color: #f9f9f9;" id="chat-scroll">
                    <div  class="mb-2">
                        <div class="d-flex">
                            <ul class="list-group">
                                <li *ngFor="let seguido of seguidos" class="d-flex list-group-item" (click)="seleccionarSeguido(seguido)">
                                    {{ seguido.nombre }}
                                    &nbsp;<i class="fa-solid fa-message"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <app-chat *ngIf="seguidoSeleccionado && chatCerrado==false" [seguido]="seguidoSeleccionado" (chatCerrado)="$event"></app-chat>
                </div>
        </div>
        <div class="col-md-6" style="margin-top: 2%;">
            <h2 class="text-center">Actividad</h2>
            <br>
            <div class="caja-muro mt-2" *ngFor="let post of posts; let i = index" class="card mb-3 p-3">
                <div class="spinner-border m-5" role="status" *ngIf="cargados==false">
                </div>
                <div class="card-body" *ngIf="post.tipo==='libro' && post.resena==''">
                    <img class="imagenUsuario" 
                         [src]="post.imagenUsuario" 
                         class="rounded-circle me-3" 
                         width="50"
                         height="50">
                    <b style="font-size: large;cursor: pointer;" [routerLink]="['/perfilpublico', post._idUsuario]"
                        class="nombre">{{ post.nombreUsuario }}</b>
                    &nbsp;ha actualizado su biblioteca con el libro:
                    <br>
                    <hr />
                    <div class="d-flex" style="padding: 2%;">
                        <img [src]="post.imagen || 'default.png'" class="rounded me-3" width="124" height="164">
                        <div>
                            <h5 class="mb-1" 
                                [routerLink]="['/info', post.APIid]" 
                                routerLinkActive="router-link-active"
                                style="cursor: pointer;" 
                                class="titulo">{{ post.titulo }}
                            </h5>
                            <p class="text-muted mb-1">De {{ post.autores }}</p>
                            <p class="solo-3-lineas mb-2">{{ post.descripcion }}</p>
                            <app-estado-libro [libro]="post"></app-estado-libro>
                        </div>
                    </div>
                    <div class="mt-2 text-muted" style="font-size: 0.9em;cursor: pointer;float:right;">
                    </div>
                    <div class="mt-5 p-3 rounded caja-comentarios" style="background-color: #f0f0f5;border:1px lightgrey solid;">
                        <div *ngFor="let comentario of post.comentarios" class="mb-2">
                            <div>
                                    <img [src]="comentario.imagenUsuario" class="rounded-circle me-2" width="35" height="35" style="float: left;">
                                    <span><b style="float: left;">{{ comentario.nombreUsuario }}</b>
                                        <br>
                                        <div style="margin-left:8%;">{{ comentario.texto }}</div>
                                    </span>
                                    <span style="font-size:x-small;color: grey;float:left;margin-left:8.2%;">{{ comentario.fecha | date:'d/MM/yyyy \' \'HH:mm'}}</span>
                                    <br>
                            </div>
                        </div>
                        <form (ngSubmit)="guardarComentario(formulario,'libro', post._id)" #formulario="ngForm">
                            <div class="input-group mt-2">
                                <input  type="text" 
                                        class="form-control" 
                                        [ngModel]="comentarioTexto"
                                        name="comentarioTexto"
                                        placeholder="Escribe un comentario..." 
                                        />
                                <button class="btn btn-outline-primary" type="submit">Publicar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body" *ngIf="post.tipo==='resena'">
                    <img class="imagenUsuario" [src]="post.imagenUsuario" class="rounded-circle me-3" width="50"
                        height="50">
                    <b style="font-size: large;cursor: pointer;" [routerLink]="['/perfilpublico', post._idUsuario]"
                        class="nombre">{{
                        post.nombreUsuario }}</b>
                    &nbsp;ha añadido una reseña:
                    <br>
                    <hr />
                    <div class="d-flex" style="padding: 2%;">
                        <div>
                            <h5 class="mb-1" 
                                [routerLink]="['/review', post._id,post._idUsuario]"
                                routerLinkActive="router-link-active" 
                                style="cursor: pointer;" 
                                class="titulo">{{ post.titulo }}
                            </h5>
                            <p class="solo-3-lineas mb-2">{{ post.resena }}</p>
                        </div>
                    </div>
                    <div class="mt-2 text-muted caja-comentarios" style="font-size: 0.9em;cursor: pointer;float:right;border:1px lightgrey solid;">
                    </div>
                    <div class="mt-5 p-3 rounded" style="background-color: #f0f0f5;">
                        <div *ngFor="let comentario of post.comentarios" class="mb-2">
                            <div>
                                <img [src]="comentario.imagenUsuario" class="rounded-circle me-2" width="35" height="35" style="float: left;">
                                <span><b style="float: left;">{{ comentario.nombreUsuario }}</b>
                                <br><div style="margin-left:8%;">{{ comentario.texto }}</div> </span>
                                <span style="font-size:x-small;color: grey;float:left;margin-left:8.2%;">{{ comentario.fecha | date:'d/MM/yyyy \' \'HH:mm'}}</span>
                                <br>
                            </div>
                        </div>
                        <form (ngSubmit)="guardarComentario(formulario,'resena', post._id)" #formulario="ngForm">
                            <div class="input-group mt-2">
                            <input      type="text" 
                                        class="form-control" 
                                        name="comentarioTexto"
                                        [ngModel]="comentarioTexto"
                                        placeholder="Escribe un comentario..." 
                                        />
                                <button class="btn btn-outline-primary" type="submit">Publicar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 2.5%;">
            <h5>Seguidos</h5>
            <ul class="list-group mt-5">
                <li *ngFor="let seguido of seguidos" class="s-social list-group-item d-flex align-items-center"
                    [routerLink]="['/perfilpublico', seguido._id]">
                    <img [src]="seguido.imagen || 'default.png'" class="rounded-circle me-2" width="40" height="40">
                    <span><b>{{ seguido.nombre }}</b></span>
                </li>
            </ul>
            <p class="infoSeguidores" *ngIf="seguidos.length==0" style="padding: 2%;">No hay seguidos</p>
            <br>
            <br>
            <br>
            <h5>Seguidores</h5>
            <ul class="list-group mt-5">
                <li *ngFor="let seguidor of seguidores" class="s-social list-group-item d-flex align-items-center"
                    [routerLink]="['/perfilpublico', seguidor._id]">
                    <img [src]="seguidor.imagen || 'default.png'" class="rounded-circle me-2" width="40" height="40">
                    <span><b>{{ seguidor.nombre }}</b></span>
                </li>
            </ul>
            <p class="infoSeguidores" *ngIf="seguidores.length==0" style="padding: 2%;">No hay seguidores</p>
        </div>
    </div>
</div>