.list-group {
    width: -webkit-fill-available !important;
}

.list-group-item {
    padding: 10px;
}

.list-group-item:active {
    background-color: aquamarine;
}

.activa {
    background-color: blue;
}

.seguido {
    background-color: lightgrey;
    float: left;
    padding: 5px;
    border-radius: 5px;
}

.seguido span {
    margin-left: -15px;
}

.yo {
    float: right;
    background-color: rgb(28, 169, 141);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.seguido:before {
    content: "";
    position: relative;
    bottom: 32px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid lightgrey;
}