<div style="margin-top: 7.5%; margin-bottom: 0%;">
    <h5 class="chat-title">Chat</h5>
    <div class="card-body" style="flex-grow: 1; background-color: #f9f9f9;margin-top: 15%; border-radius: 5%;"
        id="chat-scroll">
        <div class="mb-2">
            <div class="d-flex">
                <ul class="list-group">
                    <li *ngFor="let seguido of seguidos" class="s-social d-flex list-group-item"
                        (click)="seleccionarSeguido(seguido)" [ngClass]="'inactiva'">
                        <img [src]="seguido.imagen || 'default.png'" class="rounded-circle me-2" width="30" height="30">
                        <span style="font-weight: bold;">{{ seguido.nombre }}</span>
                        &nbsp;<i class="fa-solid fa-message contact-icon" style="margin-left:auto;margin-top: 2%;"></i>
                        <div *ngFor="let id of idConMensajesNuevos">
                            <span class="punto-notificacion" *ngIf="seguido._id == id && (cerrado==true)"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card mt-4" style="height: 400px; display: flex; flex-direction: column;"
    *ngIf="cerrado==false && seguidoSeleccionado">
    <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
        <div>
            <img [src]="seguidoSeleccionado.imagen || 'default.png'" class="rounded-circle me-2" width="30" height="30">
            <b>{{ seguidoSeleccionado.nombre }}</b>
        </div>
        <button class="btn btn-sm btn-light" (click)="cerrarChat()">✖</button>
    </div>

    <div class="card-body" style="max-height:300px;overflow-y: auto; flex-grow: 1; background-color: #f9f9f9;"
        #chatScroll>
        <div *ngFor="let mensaje of mensajesGuardados">
            <div><img *ngIf="mensaje._idUsuario!=usuarioID" class="rounded-circle me-2" width="30" height="30"
                    [src]="mensaje.imagen" style="border-radius: black solid 1px;margin-bottom: 6px;">
                <!-- <b *ngIf="mensaje._idUsuario!=usuarioID">{{
                    mensaje.nombre }}</b> -->
            </div>
            <div style="width: max-content;" [ngClass]="mensaje._idUsuario!=usuarioID ? 'seguido' : 'yo'">
                <span style="position: relative;">{{ mensaje.texto }}</span>
            </div>
            <br>
            <br>
        </div>
    </div>

    <div class="card-footer p-2">
        <form class="d-flex" [formGroup]="formulario" (ngSubmit)="guardar(this.usuarioID,seguidoSeleccionado)">
            <input type="text" class="form-control me-2" placeholder="Escribe un mensaje..." formControlName="mensaje">
            <button class="btn btn-outline-primary" type="submit">Enviar</button>
        </form>
    </div>
</div>