<section class="editar-libro">
    <div class="contenedor">
        <div class="tarjeta">
            <div class="cabecera">
                <h4>Editar Libro: {{ libro.titulo }}</h4>
                <button class="cerrar-btn" (click)="cerrar()">×</button>
            </div>
            <div class="cuerpo">
                <form (ngSubmit)="guardarCambios(f)" #f="ngForm" novalidate>
                    <div class="grupo-formulario">
                        <label for="estado">Estado</label>
                        <select id="estado" name="estado" [(ngModel)]="libro.estado">
                            <option value="" disabled selected>Selecciona un estado</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="Leído">Leído</option>
                        </select>
                    </div>

                    <div class="grupo-formulario">
                        <label for="coleccion">Colección</label>
                        <small *ngIf="colecciones.length==0">(No hay colecciones creadas)</small>
                        <select id="coleccion" name="coleccion" [(ngModel)]="libro.coleccion">
                            <option value="" disabled selected *ngIf="colecciones.length==0">No hay colecciones creadas
                            </option>
                            <option *ngFor="let coleccion of colecciones" [value]="coleccion">{{ coleccion }}</option>
                        </select>
                    </div>

                    <div class="grupo-formulario">
                        <label for="resena">Añadir/modificar reseña</label>
                        <textarea id="resena" name="resena" rows="4" [(ngModel)]="libro.resena"></textarea>
                    </div>

                    <div class="acciones">
                        <button type="submit" class="btn btn-outline-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>