<section class="animate__animated animate__fadeIn">
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h2 class="mb-0">Editar Libro</h2>
                <button class="btn btn-close" style="margin-left: 92.5%; cursor: pointer;" (click)="cerrar()"></button>
            </div>
            <div class="card-body">
                <form (ngSubmit)="guardarCambios()">
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado</label>
                        <select id="estado" class="form-select" name="estado">
                            <option value="Pendiente">Pendiente</option>
                            <option value="Terminado">Terminado</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="coleccion" class="form-label">Colección</label>
                        <select id="coleccion" class="form-select" name="coleccion">
                            <!-- <option *ngFor="let coleccion of colecciones" [value]="coleccion">{{ coleccion }}</option> -->
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="reseña" class="form-label">Añadir Reseña</label>
                        <textarea id="reseña" class="form-control" name="reseña" rows="4"></textarea>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>