@import 'ngx-toastr/toastr';

/*Variables*/
:root {
    --background-verde-suave: rgb(185, 208, 198);
    --background-aguamarina: aquamarine;
    --background-negro: black;
    --background-verde-oscuro: #102A2D;
    --text-blanco: #ffffff;
    --text-gris-oscuro: rgb(26, 27, 27);
    --text-negro: black;
}


body {
    position: relative;
    min-height: 100vh;
    background-color: rgb(236, 238, 239);
}

h2 {
    font-family: "Roboto", serif;
    color: var(--text-gris-oscuro);
}


.container {
    margin-bottom: 5%;
}


.navbar-container {
    background-color: var(--background-aguamarina);
}

.navbar {
    background-color: var(--background-aguamarina) !important;
    margin-left: 16%;
    margin-right: 16%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    z-index: -2 !important;
}



.recomendaciones {
    border-radius: 5px;
    padding: 5%;
    background-color:
        /*coral*/
        #ffd3b4;
    -webkit-box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.75);
}

.recomendaciones h2 {
    color: var(--text-gris-oscuro);
}

.tematica {
    color: #209268;
}

table {
    border-radius: 5px;
}


form {
    overflow: hidden;
    min-width: fit-content;
}

.card-header {
    color: black !important;
    background-color: white !important;
}


/*Boton X de los formularios de perfil y editar-libro*/
.cerrar-btn {
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    transition: color 0.3s ease;
    color: black;
}


/* Modo oscuro */

.modo-oscuro {
    background-color: var(--background-verde-oscuro) !important;
}


.modo-oscuro .card-header-config {
    background-color: var(--background-verde-suave) !important;
}

.modo-oscuro h5 {
    color: var(--text-blanco) !important;
}


.modo-oscuro h2 {
    color: var(--text-blanco) !important;
}

.modo-oscuro .card {
    background-color: var(--background-verde-suave) !important;
}

.modo-oscuro .card h5 {
    color: var(--text-gris-oscuro) !important;
}


.modo-oscuro .s-social {
    background-color: #e4f7f0 !important;
}

.modo-oscuro .list-group-item:hover {
    background-color: var(--background-aguamarina);
    cursor: pointer;
}

.modo-oscuro .home {
    color: var(--text-blanco);
}

.modo-oscuro .recomendaciones {
    color: var(--text-blanco);
    background-color: rgb(28, 68, 50) !important;
}

.modo-oscuro .text-btn-guardado {
    color: rgb(4, 134, 128) !important;
}

.modo-oscuro td {
    background-color: var(--background-verde-suave) !important;
}

.modo-oscuro th {
    background-color: var(--background-verde-suave) !important;
}

.modo-oscuro .btn-buscar-mis-libros {
    color: var(--text-blanco);
    border-color: white;
}

.modo-oscuro,
.btn-buscar-mis-libros:hover,
.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
    background-color: var(--background-negro);
    border-color: white;
}

.modo-oscuro .caja-libro-home:hover {
    -webkit-box-shadow: 3px 3px 29px -12px aquamarine;
    -moz-box-shadow: 3px 3px 29px -12px aquamarine;
    box-shadow: 3px 3px 29px -12px aquamarine;
    transition: 0.5s;
}

.modo-oscuro .cuenta-txt {
    color: white;
}


.modo-oscuro .btn-volver {
    color: white;
    border-color: white;
}

.modo-oscuro .caja-libro-home:hover {
    -webkit-box-shadow: 3px 3px 29px -12px aquamarine;
    -moz-box-shadow: 3px 3px 29px -12px aquamarine;
    box-shadow: 3px 3px 29px -12px aquamarine;
    transition: 0.5s;
    border-color: white;
}

.modo-oscuro .search-libros-titulo {
    color: white;
}

.modo-oscuro .search-col-titulo {
    color: white;
}

/*  Fin modo oscuro */


.s-social:hover {
    background-color: var(--background-aguamarina) !important;
    cursor: pointer !important;
    transition: 0.8s;
}

.btn-buscar-mis-libros {
    border-color: grey;
    color: grey;
}

.btn-outline-primary {
    border-color: var(--background-negro);
    color: var(--text-negro);
}

.btn-outline-primary:hover {
    background-color: var(--background-negro);
    border-color: white;
}

.btn-outline-secondary {
    color: var(--text-negro);
    border-color: var(--background-negro);
}

.fa-power-off i {
    color: var(--background-negro);
}

.badge {
    background-color: #209268 !important;
}


[type="search"]::placeholder {
    color: grey;
}

/*Usado en los textos de las tarjetas de los libros*/
.solo-3-lineas {
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
}

.solo-2-lineas {
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
}

.solo-2-lineas-sinmas {
    max-height: 3em;
    overflow: hidden;
}

.card-title:hover {
    text-decoration: underline;
}

.caja-libro-home {
    position: relative;
    min-height: 220px;
}

.dropdown-menu {
    z-index: 2 !important;
    position: absolute !important;
}

.dropdown-item:hover {
    z-index: 3 !important;
    background-color: var(--background-aguamarina) !important;
    transition: 0.8s;
}

/*Animación de la caja de libro*/
.caja-libro-home:hover {
    -webkit-box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.caja-descripcion-libro-recomendaciones {
    margin-left: -8%;
}

input {
    box-sizing: border-box;
}

.select-editar-libro {
    max-width: fit-content;
}


/*Imagenes de libros de home y buscador*/
.h-100 {
    border-radius: 8px;
    object-fit: cover;
    width: 100px !important;
    height: 150px !important;
}


/*Formulario del componente editar-libro*/
.editar-libro {
    min-width: 500px;
}


/*Reseñas de la tabla de mis libros guardados*/
.caja-resena {
    width: 20%;
}

.texto-resena {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}





/* Responsive */

@media only screen and (max-width: 991px) {

    .form-login-registro {
        width: 50% !important;
    }

    /*Div de los libros de la home y de buscador*/
    .caja-descripcion-libro {
        width: 50%;
        margin-left: -18%;
    }

    .caja-descripcion-libro-recomendaciones {
        width: 50%;
        margin-left: -15%;
    }

    .caja-imagen-libro {
        padding: 20px !important;
        width: 50%;
    }

}