
@import 'ngx-toastr/toastr';

body {
    position: relative;
    min-height: 100vh;
    background-color:rgb(236, 238, 239);
}

h2 {
    font-family: "Roboto", serif;
    color: rgb(26, 27, 27);

} 


.container {
    margin-bottom: 5%;
}


.navbar-container {
   /* background-color: rgb(175, 230, 248);*/
    background-color: aquamarine; 
}

.navbar {
    /* background-color: rgb(175, 230, 248) !important; */
    background-color: aquamarine !important;
    margin-left: 16%;
    margin-right: 16%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    z-index:-2 !important;
}

.dropdown-item:hover {
    background-color: aquamarine !important;
}

/* .card {
-webkit-box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.75);
} */

.recomendaciones{
    border-radius: 5px;
    padding: 5%;
}

table {
    border-radius: 5px;
}

.modo-oscuro h5 {
    color: #ffffff !important;
}

.modo-oscuro h2 {
    color: #ffffff !important;
}

.modo-oscuro .card {
    background-color: rgb(185, 208, 198) !important;
}

.modo-oscuro .card h5 {
    color: rgb(26, 27, 27) !important;
}

.modo-oscuro .list-group-item  {
    background-color: rgb(185, 208, 198) !important;
}

.modo-oscuro .home {
    color: white; 
}

.modo-oscuro .recomendaciones  {
    color: white;
    background-color: rgb(28, 68, 50) !important;
}


