
@import 'ngx-toastr/toastr';

/*Variables*/
:root {
    --background-color1:rgb(185, 208, 198);
    --background-color2: aquamarine;
    --background-color3: black; 
    --text-color1: #ffffff; 
    --text-color2: rgb(26, 27, 27);
    --text-color3: black; 
}


body {
    position: relative;
    min-height: 100vh;
    background-color:rgb(236, 238, 239);
}

h2 {
    font-family: "Roboto", serif;
    color: var(--text-color2); 
} 


.container {
    margin-bottom: 5%;
}


.navbar-container {
   /* background-color: rgb(175, 230, 248);*/
    background-color: var(--background-color2); 
}

.navbar {
    /* background-color: rgb(175, 230, 248) !important; */
    background-color: var(--background-color2) !important;
    margin-left: 16%;
    margin-right: 16%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    z-index:-2 !important;
}

.dropdown-item:hover {
    background-color: var(--background-color2) !important;
    transition: 0.8s;
}

/* .card {
-webkit-box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.75);
} */

.recomendaciones {
    border-radius: 5px;
    padding: 5%;
    background-color: coral;
    -webkit-box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.75);
}

.recomendaciones h2 {
    color:blanchedalmond; 
}

table {
    border-radius: 5px;
}

/*//////Modo oscuro///////*/

.modo-oscuro .card-header {
    color: white !important; 
    background-color: lightslategray !important;
}

.card-header {
    color: white !important;
    background-color: lightslategray !important;
}


.modo-oscuro h5 {
    color: var(--text-color1) !important;
}

.modo-oscuro h4 {
    color: var(--text-color1) !important;
}

.modo-oscuro h2 {
    color: var(--text-color1) !important;
}

.modo-oscuro .card {
    background-color: var(--background-color1) !important;
}

.modo-oscuro .card h5 {
    color: var(--text-color2) !important;
}

/*.modo-oscuro .list-group-item  {
    background-color: var(--background-color1) !important;
}*/

.modo-oscuro .s-social {
    background-color: #e4f7f0 !important;
}

.modo-oscuro .list-group-item:hover {
    background-color: var(--background-color2); 
    cursor: pointer;
}

.modo-oscuro .home {
    color: var(--text-color1); 
}

.modo-oscuro .recomendaciones  {
    color: var(--text-color1);
    background-color: rgb(28, 68, 50) !important;
}

.modo-oscuro .text-btn-guardado {
    color: rgb(4, 134, 128) !important;
}

.modo-oscuro td {
      background-color: var(--background-color1) !important; 
}

.modo-oscuro th {
    background-color: var(--background-color1) !important;
}

.modo-oscuro .btn-buscar-mis-libros{
    color: var(--text-color1);
    border-color: white;
}

.modo-oscuro .btn-outline-secondary {
    color: var(--text-color1);
    border-color: white;
}

.modo-oscuro, .btn-buscar-mis-libros:hover, .btn-outline-secondary:hover , .btn-outline-secondary:focus {
    background-color: var(--background-color3);
    border-color: white;
}

.modo-oscuro .caja-libro-home:hover {
    -webkit-box-shadow: 3px 3px 29px -12px aquamarine;
    -moz-box-shadow: 3px 3px 29px -12px aquamarine;
    box-shadow: 3px 3px 29px -12px aquamarine;
    transition:0.5s; 
}

/*////////////Fin modo oscuro///////////*/

.s-social:hover {
   background-color: var(--background-color2) !important;
   cursor: pointer !important;
   transition: 0.8s;
}

.btn-buscar-mis-libros {
    border-color: grey;
    color: grey; 
}

.btn-outline-primary {
    border-color: var(--background-color3);
    color: var(--text-color3); 
}

.btn-outline-primary:hover {
    background-color: var(--background-color3);
    border-color: white;
}

.btn-outline-secondary {
     color: var(--text-color3);
     border-color:var(--background-color3);
 }

.fa-power-off i{
    color: var(--background-color3); 
}

.badge {
    background-color: #209268 !important; 
}


[type="search"]::placeholder{
    color: grey; 
}

.solo-3-lineas {
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title:hover {
    text-decoration: underline;
}

.caja-libro-home:hover {
    -webkit-box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 3px 29px -12px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
}