
.card {
    padding-left: 5%;
}

.seguidor-card {
    background-color: white !important;
}


.info-usuario{
    /*position: relative;*/
    margin-top:2%; 
    /* padding-left: 10%; */
}

.img-fluid{
    height: revert-layer;
}

.btn-seguir {
    width: max-content;
}

.caja-muro .card {
    background-color: #f3ede3 !important;
}