<div class="navbar-container">
    <nav class="navbar-fija" *ngIf="autenticado">
        <div class="navbar-izquierda">
            <a class="logo" [routerLink]="['/home']"><a class="logo-text">Lecturas<span>App</span></a></a>
            <div class="links-desktop">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="activo">Home</a>
                <a class="nav-link" [routerLink]="['/social']" routerLinkActive="activo">Social</a>
                <a class="nav-link" [routerLink]="['/libros']" routerLinkActive="activo">Mis libros</a>
                <a class="nav-link" [routerLink]="['/perfil']" routerLinkActive="activo">Configuración</a>
            </div>
        </div>
        <div class="navbar-centro">
            <input #termino class="buscador-input" type="search" placeholder="Buscar libros...">
            <button class="buscador-btn" (click)="getInfoLibro(termino.value)">Buscar</button>
        </div>
        <div class="navbar-derecha">
            <img height="30" width="30" class="img-perfil" [src]="ImagenPerfil"
                [routerLink]="['/perfilpublico', idLogueado]">
            <i class="fa-solid fa-power-off icono-logout" (click)="logout()" [routerLink]="['/login']"></i>
        </div>
    </nav>
</div>

<!-- SOLO MÓVIL -->
<nav class="movil-nav" *ngIf="autenticado">
    <a class="btn-movil-nav" [routerLink]="['/home']" routerLinkActive="activo"><i data-lucide="home"></i></a>
    <a class="btn-movil-nav" [routerLink]="['/social']" routerLinkActive="activo"><i data-lucide="users"></i></a>
    <a class="btn-movil-nav" [routerLink]="['/libros']" routerLinkActive="activo"><i data-lucide="book-open"></i></a>
    <a class="btn-movil-nav" [routerLink]="['/perfil']" routerLinkActive="activo"><i data-lucide="settings"></i></a>
    <a class="btn-movil-nav" [routerLink]="['/perfilpublico', idLogueado]"><img [src]="ImagenPerfil" height="30"
            width="30"></a>
</nav>