.navbar-container{
    background-color: aquamarine;
}

.navbar {
    background-color: aquamarine!important;
    margin-left:20%; 
    margin-right: 20%;
}


.router-link-active {
    font-weight: 600;
}